# Bonus: Temperature Analysis I

In [89]:
import pandas as pd
import datetime as dt

In [90]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [91]:
# Convert the date column format from string to datetime
day=[]
for date in df["date"]:
   day.append(dt.datetime.strptime(date, '%Y-%m-%d'))
print(df.info())
df["day"]=day
# df["date"]=pd.to_datetime["date"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB
None

In [92]:
# Set the date column as the DataFrame index
df.set_index("day")
df

           station        date  prcp  tobs        day
0      USC00519397  2010-01-01  0.08    65 2010-01-01
1      USC00519397  2010-01-02  0.00    63 2010-01-02
2      USC00519397  2010-01-03  0.00    74 2010-01-03
3      USC00519397  2010-01-04  0.00    76 2010-01-04
4      USC00519397  2010-01-06   NaN    73 2010-01-06
...            ...         ...   ...   ...        ...
19545  USC00516128  2017-08-19  0.09    71 2017-08-19
19546  USC00516128  2017-08-20   NaN    78 2017-08-20
19547  USC00516128  2017-08-21  0.56    76 2017-08-21
19548  USC00516128  2017-08-22  0.50    76 2017-08-22
19549  USC00516128  2017-08-23  0.45    76 2017-08-23

[19550 rows x 5 columns]

In [93]:
# Drop the date column
df.drop("date",axis=1)

           station  prcp  tobs        day
0      USC00519397  0.08    65 2010-01-01
1      USC00519397  0.00    63 2010-01-02
2      USC00519397  0.00    74 2010-01-03
3      USC00519397  0.00    76 2010-01-04
4      USC00519397   NaN    73 2010-01-06
...            ...   ...   ...        ...
19545  USC00516128  0.09    71 2017-08-19
19546  USC00516128   NaN    78 2017-08-20
19547  USC00516128  0.56    76 2017-08-21
19548  USC00516128  0.50    76 2017-08-22
19549  USC00516128  0.45    76 2017-08-23

[19550 rows x 4 columns]

### Compare June and December data across all years

In [94]:
from scipy import stats

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19550 entries, 2010-01-01 to 2017-08-23
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 763.7+ KB
None

In [95]:
# Filter data for desired months
june=df[df["day"].dt.month == 6]
dec=df[df["day"].dt.month == 12]

In [96]:
# Identify the average temperature for June
avg_june=june.tobs.mean()
avg_june

74.94411764705882

In [97]:
# Identify the average temperature for December
avg_dec=dec.tobs.mean()
avg_dec

71.04152933421226

In [ ]:
# Create collections of temperature data

<b>We will use paired t-test because we compaire the means for the same group under two separate scenarios</b>

In [104]:
# Run paired t-test
t_test=stats.ttest_rel(avg_june,avg_dec)
t_test

Ttest_relResult(statistic=nan, pvalue=nan)

### Analysis