# Bonus: Temperature Analysis I

In [172]:
import pandas as pd
import datetime as dt

In [173]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [174]:
# Convert the date column format from string to datetime
day=[]
for date in df["date"]:
   day.append(dt.datetime.strptime(date, '%Y-%m-%d'))
df["day"]=day
# df["date"]=pd.to_datetime["date"]

In [175]:
# Set the date column as the DataFrame index
df.set_index("day",inplace=True)
df

                station        date  prcp  tobs
day
2010-01-01  USC00519397  2010-01-01  0.08    65
2010-01-02  USC00519397  2010-01-02  0.00    63
2010-01-03  USC00519397  2010-01-03  0.00    74
2010-01-04  USC00519397  2010-01-04  0.00    76
2010-01-06  USC00519397  2010-01-06   NaN    73
...                 ...         ...   ...   ...
2017-08-19  USC00516128  2017-08-19  0.09    71
2017-08-20  USC00516128  2017-08-20   NaN    78
2017-08-21  USC00516128  2017-08-21  0.56    76
2017-08-22  USC00516128  2017-08-22  0.50    76
2017-08-23  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

In [176]:
# Drop the date column
new_df=df.drop("date",axis=1)
new_df

                station  prcp  tobs
day
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [177]:
from scipy import stats

In [178]:
# Filter data for desired months
june=new_df[new_df.index.month == 6]
june.head()

                station  prcp  tobs
day
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [179]:
dec=new_df[new_df.index.month == 12]
dec.head()

                station  prcp  tobs
day
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [192]:
# Identify the average temperature for June
avg_june=june.mean()
avg_june

prcp     0.136360
tobs    74.944118
dtype: float64

In [193]:
# Identify the average temperature for December
avg_dec=dec.mean()
avg_dec

prcp     0.216819
tobs    71.041529
dtype: float64

In [182]:
# Create collections of temperature data

<b>We will use paired t-test because we compaire the means for the same group under two separate scenarios</b>

In [195]:
# Run paired t-test
stats.ttest_ind(avg_june,avg_dec)

Ttest_indResult(statistic=0.037102211930654896, pvalue=0.973773798371974)

### Analysis